@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font-family: 'Poppins', sans-serif; */

@import 'reset.scss';


:root {
	--step--2: clamp(0.7381rem, 0.7297rem + 0.0422vw, 0.76rem);
	--step--1: clamp(0.8856rem, 0.8608rem + 0.1241vw, 0.95rem);
	--step-0: clamp(1.0625rem, 1.0143rem + 0.241vw, 1.1875rem);
	--step-1: clamp(1.275rem, 1.1943rem + 0.4036vw, 1.4844rem);
	--step-2: clamp(1.53rem, 1.4045rem + 0.6277vw, 1.8556rem);
	--step-3: clamp(1.8363rem, 1.65rem + 0.9313vw, 2.3194rem);
	--step-4: clamp(2.2031rem, 1.9347rem + 1.3422vw, 2.8994rem);
	--step-5: clamp(2.6438rem, 2.2659rem + 1.8892vw, 3.6238rem);
}

:root {
	--background: rgb(34, 33, 33);
	--bg-opaque: rgba(46, 45, 45, 0.322);
	--background-light: rgba(189, 184, 184, 0.724);
	--background-dark: rgb(8, 8, 8);
	--fade: rgba(166, 163, 163, 0.4);

	--text: rgb(235, 236, 243);
	--brand: rgb(146, 209, 164);
	--brand-rgb: 146 209 164;
	--white: #f4f0f0;
	--black-rgb: 25 25 25;

	--mode: rgb(235, 236, 243);
}

body.light {
	--background: #e9e3d3;
	--bg-opaque: rgba(46, 45, 45, 0.322);
	--background-light: rgba(189, 184, 184, 0.724);
	--background-dark: rgb(8, 8, 8);
	--fade: #6f6d6d8a;

	--text: rgb(22, 22, 23);
	--brand: rgb(131, 131, 221);
	--brand-rgb: 131 131 221;
	--white: #f4f0f0;
	--black-rgb: 25 25 25;

	--mode: rgb(22, 22, 23);
}

@media (prefers-color-scheme: light) {
	:root {
		--background: #e9e3d3;
		--bg-opaque: rgba(46, 45, 45, 0.322);
		--background-light: rgba(189, 184, 184, 0.724);
		--background-dark: rgb(8, 8, 8);
		--fade: #6f6d6d8a;

		--text: rgb(22, 22, 23);
		--brand: rgb(0, 0, 128);
		--brand-rgb: 0 0 128;
		--white: #f4f0f0;
		--black-rgb: 25 25 25;

		--mode: rgb(22, 22, 23);
	}
}

html,
body {
	max-width: 100vw;
	scroll-behavior: smooth;
}


body {
	color: var(--text);
	background: var(--background);
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	line-height: 1.1;
	font-style: normal;
}

section {
	overflow-x: hidden;
}

.roar-voice {
	font-size: var(--step-5);
	text-transform: uppercase;
	font-weight: 900;
	line-height: .9;
	letter-spacing: -.1px;
}

.loud-voice {
	font-size: var(--step-4);
	font-weight: 700;
}

.attention-voice {
	font-size: var(--step-3);
}

.chant-voice {
	font-size: var(--step-2);
}

.strict-voice {
	font-size: var(--step-1);
	font-weight: 400;
}

.calm-voice,
p,
li,
a,
button {
	font-size: var(--step-0)
}

small,
.small-voice {
	font-size: var(--step--1);
}



:is(.calm-voice, p, li) em {
	font-style: italic;
}

:is(.calm-voice, p, li) strong {
	font-weight: 700;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

*::selection {
	background: var(--brand);
	color: var(--background);
}


a {
	color: inherit;
	text-decoration: none;
}

p {
	line-height: 1.5;
	max-width: 49ch;
}

p a {
	cursor: pointer;
}

ul, ol, li {
	list-style: none;
}

img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
}

input, button, textarea, select {
	font: inherit;
}

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.hide {
	opacity: 0;
	pointer-events: none;
}

.overflow {
	overflow: hidden;
}


code {
	font-family: monospace;
	font-size: 1.1em;
	color: green;
}

inner-column {
	display: block;
	position: relative;
	z-index: 10;
	max-width: 1150px;
	margin: auto;
	padding: 9.6rem 7rem;
	z-index: 1;
}

@media (max-width: 768px) {
	inner-column {
		padding: 7.2rem 2rem;
	}
}