.grid-template {
	display: grid;
	grid-template-columns: 1fr;


	@media (min-width: 800px) {
		grid-template-columns: 1fr 1fr;
	}
}

p a {
	color: var(--brand);
	font-weight: 400;

	&:hover {
		text-decoration: underline;
	}
}

.bottom-fade-out {
	height: 100px;
	background: linear-gradient(180deg, var(--background), rgb(var(--brand-rgb) / 0.5));
	filter: blur(1px) opacity(0.5);
}

.brand-highlight {
	color: var(--brand);
}

form {

	label,
	input,
	textarea {
		display: block;
	}
}

form-box {
	display: flex;
	width: 100%;
	flex-direction: column;
	gap: 1rem;

	form {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		width: 100%;
		max-width: 400px;
		margin: 0 auto;
	}

	input,
	textarea {
		padding: 8px 14px;
		border: none;
		resize: none;
	}

	textarea {
		min-height: 100px;
	}

	input[type='text']:focus,
	textarea:focus {
		outline: 2px solid var(--brand);
	}

	.flex-box {
		display: flex;
		width: 100%;
		flex-direction: column;
		max-width: 400px;
		padding-top: 2rem;

		button {
			margin-top: 20px;
		}
	}
}